[Unit]
Description=Transmission Bot Telegram
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/node /opt/transmission-bot/bot.js

[Install]
WantedBy=multi-user.target